<div>
	<div class="row">
		<div class="col-md-12">
			<div style="float: left; margin-right: 50px;">
				<h1 class="clear-margin-padding-top">
					<a href="" ng-click="onStartTrip(false)">
                    <i rel="tooltip" title="Start trip" data-placement="bottom" class="fa fa-plane" style="font-size: 28px; margin-right: 15px;">
                    </i></a>{{ gcity.name }}</h1>
			</div>
			<div style="">
				<span style="font-size: 12pt">{{ gcity.adminName1 }},</span><br />
				<span style="font-size: 12pt">{{ gcity.countryName }}</span><br />
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px">
		<div class="col-md-12">
			<ul class="nav nav-pills-u ">
				<li ng-class="curPillClass('overview')"><a href="">Overview</a></li>
				<li class="dropdown" ng-class="curPillClass('places')">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">
						Places <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="menu-sub"><a href="" ng-click="onPlaces('')" ng-style="curVenueMenuStyle('places_')">&middot; All</a></li>
						<li class="menu-sub"><a href="" ng-click="onPlaces('food')" ng-style="curVenueMenuStyle('places_food')">&middot; Food</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('coffee')" ng-style="curVenueMenuStyle('places_coffee')">&middot; Coffee</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('shops')" ng-style="curVenueMenuStyle('places_shops')">&middot; Shopping</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('sights')" ng-style="curVenueMenuStyle('places_sights')">&middot; Sights</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('arts')" ng-style="curVenueMenuStyle('places_arts')">&middot; Arts &amp; Entertainment</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('outdoors')" ng-style="curVenueMenuStyle('places_outdoors')">&middot; Outdoors</a></li>
					</ul>
				</li>
                <li class="dropdown" ng-class="curPillClass('bookmarks')">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">
						Bookmarks <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="menu-sub"><a href="" ng-click="onBookmarks('')" ng-style="curVenueMenuStyle('bookmarks_')">&middot; All</a></li>
						<li class="menu-sub"><a href="" ng-click="onBookmarks('food')" ng-style="curVenueMenuStyle('bookmarks_food')">&middot; Food</a></li>
						<li class="menu-sub"><a href="" ng-click="onBookmarks('shops')" ng-style="curVenueMenuStyle('bookmarks_shops')">&middot; Shopping</a></li>
						<li class="menu-sub"><a href="" ng-click="onBookmarks('arts')" ng-style="curVenueMenuStyle('bookmarks_arts')">&middot; Arts &amp; Entertainment</a></li>
						<li class="menu-sub"><a href="" ng-click="onBookmarks('outdoors')" ng-style="curVenueMenuStyle('bookmarks_outdoors')">&middot; Outdoors</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div>
		<div class="row" ng-show="curPill.val == 'overview'">
			<div class="col-lg-6">
				<h3>Some overview stuff</h3>
			</div>
		</div>
	</div>
	<div ng-show="curPill.val == 'places' || curPill.val == 'bookmarks'">
        <trp-venues bookmarks="bookmarks"></trp-venues>
	</div>
</div>