<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid" ng-controller="trip.controllers.nav">

    <div class="navbar-header">
      <a href="" class="navbar-brand">Tripper</a>


      <div class="col-sm-3 col-md-3 pull-left">
        <form class="navbar-form" role="search" style="margin: 15px; padding: 0px;" ng-submit="searchCity()">
            <input type="text" class="form-control" placeholder="Where Today?"
                   name="srch-term" style="height: 30px; width:180px; margin: 0px 0 0 0; padding: 0 0 0 5px;" ng-model="nav.q_city" />
        </form>
	  </div>

      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-main">
      <!--<ul class="nav navbar-nav ">
      </ul>
      -->
      <ul class="nav navbar-nav navbar-right">
		<li ng-show="IsLoggedIn()" class="dropdown">
			<a href="#/trips"><i class="fa fa-plane"></i> My Trips</a>
        </li>
		<li ng-show="IsLoggedIn()" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href>
				<i class="fa fa-user"></i>
				{{ CurUser.getUserName() }}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
			</ul>
		</li>
		<li ng-hide="IsLoggedIn()"><a href="" ng-click="login()"><i class="fa fa-sign-in"></i> Login</a></li>
        <li ng-hide="IsLoggedIn()"><a href="" ng-click="register()"><i class="fa fa-asterisk"></i> Register</a></li>
      </ul>
    </div>
  </div>
</nav>