<div>
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<h1 class="clear-margin-padding-top">
				{{ trip.name }}
			</h1>
		</div>
		<div class="form-inline col-md-4 col-sm-12 def-padding-top def-margin-bottom" style="font-size: 12pt; vertical-align: bottom;">
            <div class="pull-right-md">
                <strong class="color-gray">Selected City: </strong>
                <select class="form-control" style="max-width: 250px;" ng-model="filterCity" ng-options="c.name for c in cities">
                </select>
            </div>
		</div>
	</div>

	<div class="row" style="margin-bottom: 10px">
		<div class="col-md-12">
			<ul class="nav nav-pills-u ">
				<li ng-class="curPillClass('overview')"><a href="">Overview</a></li>
				<li class="dropdown" ng-class="curPillClass('places')">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">
						Places <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="menu-sub"><a href="" ng-click="onPlaces('')" ng-style="curVenueMenuStyle('places_')">&middot; All</a></li>
						<li class="menu-sub"><a href="" ng-click="onPlaces('food')" ng-style="curVenueMenuStyle('places_food')">&middot; Food</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('coffee')" ng-style="curVenueMenuStyle('places_coffee')">&middot; Coffee</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('shops')" ng-style="curVenueMenuStyle('places_shops')">&middot; Shopping</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('sights')" ng-style="curVenueMenuStyle('places_sights')">&middot; Sights</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('arts')" ng-style="curVenueMenuStyle('places_arts')">&middot; Arts &amp; Entertainment</a></li>
	                    <li class="menu-sub"><a href="" ng-click="onPlaces('outdoors')" ng-style="curVenueMenuStyle('places_outdoors')">&middot; Outdoors</a></li>
					</ul>
				</li>
                <li class="dropdown" ng-class="curPillClass('bookmarks')">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">
						Bookmarks <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li class="menu-sub"><a href="" ng-click="onBookmarks('')" ng-style="curVenueMenuStyle('bookmarks_')">&middot; All</a></li>
						<li class="menu-sub"><a href="" ng-click="onBookmarks('food')" ng-style="curVenueMenuStyle('bookmarks_food')">&middot; Food</a></li>
						<li class="menu-sub"><a href="" ng-click="onBookmarks('shops')" ng-style="curVenueMenuStyle('bookmarks_shops')">&middot; Shopping</a></li>
						<li class="menu-sub"><a href="" ng-click="onBookmarks('arts')" ng-style="curVenueMenuStyle('bookmarks_arts')">&middot; Arts &amp; Entertainment</a></li>
						<li class="menu-sub"><a href="" ng-click="onBookmarks('outdoors')" ng-style="curVenueMenuStyle('bookmarks_outdoors')">&middot; Outdoors</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div>
		<div class="row" ng-show="curPill.val == 'overview'">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-md-12">
						<h4 class="color-gray">Details:</h4>
					</div>
				</div>
				<div class="row def-margin-bottom">
					<div class="col-md-3">Start Date:</div>
					<div class="col-md-9">{{ trip.start_dt }}</div>
				</div>
				<div class="row def-margin-bottom">
					<div class="col-md-3">End Date:</div>
					<div class="col-md-9">{{ trip.end_dt }}</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<h4 class="color-gray">Cities:</h4>
						<div ng-repeat="c in cities">
							{{ c.name }}<br />
						</div>
					</div>
					<div class="col-xs-6">
						<h4 class="color-gray">Members:
							<a class="btn btn-xs btn-info" href="" g-click="onAddFriends()">
								<i class="fa fa-users"></i> Add Friends
							</a>
						</h4>
						<div ng-repeat="m in trip.members">
							{{ m.first_name + " " + m.last_name }}
							<a class="btn btn-xs" g-show="!isCurUser(m.username)" g-click="onDeleteFriend(m.id)">
								<i class="fa fa-minus-circle color-danger"></i>
							</a>
							<br />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="curPill.val == 'places' || curPill.val == 'bookmarks'">
        <trp-venues bookmarks="bookmarks"></trp-venues>
	</div>

</div>