<div class="row" ng-repeat="vs in venues | trpPartition:2">
    <div class="col-md-6" ng-repeat="v in vs">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2 col-md-2 col-lg-2" >
                        <a href="" ng-click="saveBookmark(v)">
                            <i style="margin-bottom: 10px;" class="fa fa-lg " ng-class="isBookmark(v)"></i></a>
                        {{ v.rating | number:1 }}
                        <div g-show="$parent.trip_id > 0">
                            <a class="btn btn-xs btn-default" href="" g-click="onAddAppointment(v)">
                                <i class="fa fa-calendar"></i> Add
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-8 col-md-5 col-lg-6">
                        <a href ng-href="http://www.foursquare.com/v/{{ v.id }}">{{ v.name }}</a><br />
                        <div class="color-gray-darker" style="font-size: 10pt">{{ v.cat.name }}</div>
                        <div style="font-size: 10pt"><i>{{ v.location.address }}</i></div>
                    </div>
                    <div ng-if="v" class="col-xs-2 col-md-5 col-lg-4">
                        <img class="pull-right" ng-src="{{ v.photo_url_prefix + '100x100' + v.photo_url_suffix }}">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div>
                    {{ v.tip_text }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="totalPages > 1">
    <div class="col-md-12">
        <ul class="pagination hidden-xs" ng-repeat="(i, v) in pageList">
            <li ng-class="{disabled: pageNum == 1}" ng-show="i == 0"><a href="" ng-click="clickPage(1)">&lt;&lt;</a></li>
            <li ng-class="{active: pageNum == v}"><a href="" ng-click="clickPage(v)">{{ v }}</a></li>
            <li ng-class="{disabled: totalPages == pageNum}" ng-show="i == showPages-1"><a href="" ng-click="clickPage(totalPages)">&gt;&gt;</a></li>
        </ul>
        <ul class="pagination pagination-sm visible-xs" ng-repeat="(i, v) in pageList">
            <li ng-class="{disabled: pageNum == 1}" ng-show="i == 0"><a href="" ng-click="clickPage(1)">&lt;&lt;</a></li>
            <li ng-class="{active: pageNum == v}"><a href="" ng-click="clickPage(v)">{{ v }}</a></li>
            <li ng-class="{disabled: totalPages == pageNum}" ng-show="i == showPages-1"><a href="" ng-click="clickPage(totalPages)">&gt;&gt;</a></li>
        </ul>
    </div>
</div>