/* ===== Bootstrap Setup ====================================================== */

/* ===== HTML Elements ====================================================== */

body {
  padding-top: 30px;
}

footer {
  border-top: 1px solid @gray-lighter;
}

/* ===== Page Classes ====================================================== */

.page-header {
  border-bottom: 0px;
}

.divMainContent {
  min-height: 300px;
}

.alert-glyph {
  font-size: 32px;
  vertical-align: middle;
  margin-right: 15px;
}

/* ===== Components ====================================================== */

.nav-pills-u {
  > li {
    float: left;

    // Links rendered as pills
    > a {
      padding: 7px 3px 7px 3px;
      margin-right: 12px;
      border-radius: 0;
      color: @gray;
      background-color: white !important;
      border-bottom: 3px white solid;
      &:hover,
      &:focus {
          border-bottom-color: @brand-success;
      }
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @brand-success;
        border-bottom: 3px @brand-success solid;
        background-color: white;
      }
    }
  }
}


/* ===== Custom Classes ====================================================== */

.color-primary  { color: @brand-primary; }
.color-success  { color: @brand-success; }
.color-info     { color: @brand-info; }
.color-warning  { color: @brand-warning; }
.color-danger   { color: @brand-danger; }
.color-gray-darker  { color: @gray-darker; }
.color-gray-dark  { color: @gray-dark; }
.color-gray  { color: @gray; }
.color-gray-light  { color: @gray-light; }
.color-gray-lighter  { color: @gray-lighter; }

.color-sct-title { color: @brand-success; }

.clear-margin-padding-top {
  margin-top: 0px;
  padding-top: 0px;
}
.clear-margin-padding-left {
  margin-left: 0px;
  padding-left: 0px;
}

.def-margin-top { margin-top: 10px; }
.def-margin-bottom { margin-bottom: 10px; }
.def-margin-left { margin-left: 10px; }
.def-margin-right { margin-right: 10px; }

.def-padding-top { padding-top: 10px; }

#mainAlerts ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}
#mainAlerts ul > li {
  margin-left: 5px;
}

@media (min-width: @screen-sm-min) {
    .pull-right-sm {
      float: right;
    }
}
@media (min-width: @screen-md-min) {
    .pull-right-md {
      float: right;
    }
}
@media (min-width: @screen-lg-min) {
    .pull-right-lg {
      float: right;
    }
}