/*
* pikock http://www.pikock.com/ , autreplanete http://www.autreplanete.com/ 
*  
**/


// Grays
@gray-darker: lighten(#000, 13.5%);
@gray-dark: #464545;
@gray: #95a5a6;
@gray-light: #b4bcc2;
@gray-lighter: #ecf0f1;


// Brand Colors
@brand-primary: #375a7f;
@brand-success: #00bc8c;
@brand-warning: #f39c12;
@brand-danger: #e74c3c;
@brand-info: #3498db;


// Scaffolding
@body-bg: #fff;
@text-color: @gray-darker;
@link-color: @brand-success;
@link-hover-color: darken(@link-color, 15%);
@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;
@padding-large-vertical: 10px;
@padding-large-horizontal: 16px;
@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;
@border-radius-base: 4px;
@border-radius-large: 6px;
@border-radius-small: 3px;
@line-height-large: 1.33;
@line-height-small: 1.5;
@component-active-bg: @brand-primary;


// Typography
@font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 15px;
@font-size-large: ceil(@font-size-base * 1.25);
@font-size-small: ceil(@font-size-base * 0.85);
@font-size-h1: floor((@font-size-base * 2.6));
@font-size-h2: floor((@font-size-base * 2.15));
@font-size-h3: floor((@font-size-base * 1.7));
@font-size-h4: floor((@font-size-base * 1.25));
@font-size-h5: @font-size-base;
@font-size-h6: floor((@font-size-base * 0.85));
@line-height-base: 1.428571429;
@line-height-computed: floor(@font-size-base * @line-height-base);
@headings-font-family: @font-family-base;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color: inherit;


// Buttons
@btn-font-weight: normal;
@btn-default-color: #ffffff;
@btn-default-bg: @gray;
@btn-default-border: #ccc;
@btn-primary-color: #ffffff;
@btn-primary-bg: @brand-primary;
@btn-primary-border: darken(@btn-primary-bg, 0%);
@btn-success-color: #fff;
@btn-success-bg: @brand-success;
@btn-success-border: darken(@btn-success-bg, 0%);
@btn-warning-color: #fff;
@btn-warning-bg: @brand-warning;
@btn-warning-border: darken(@btn-warning-bg, 0%);
@btn-danger-color: #fff;
@btn-danger-bg: @brand-danger;
@btn-danger-border: darken(@btn-danger-bg, 0%);
@btn-info-color: #fff;
@btn-info-bg: @brand-info;
@btn-info-border: darken(@btn-info-bg, 0%);
@btn-link-disabled-color: @gray-light;


// Dropdowns
@dropdown-bg: #fff;
@dropdown-border: rgba(0,0,0,.15);
@dropdown-divider-bg: #e5e5e5;
@dropdown-link-active-color: #fff;
@dropdown-link-active-bg: @component-active-bg;
@dropdown-link-color: @gray-dark;
@dropdown-link-hover-color: #fff;
@dropdown-link-hover-bg: @dropdown-link-active-bg;
@dropdown-link-disabled-color: @gray-light;
@dropdown-header-color: @gray-light;
@dropdown-caret-color: #000;


// Forms
@input-bg: #fff;
@input-bg-disabled: @gray-lighter;
@input-color: lighten(@gray-darker, 30%);
@input-border: darken(@gray-lighter, 10%);
@input-border-radius: @border-radius-base;
@input-color-placeholder: @gray-light;
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (floor(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);
@legend-color: @gray-dark;
@legend-border-color: #e5e5e5;
@input-group-addon-bg: @gray-lighter;
@input-group-addon-border-color: @input-border;


// Table
@table-cell-padding: 8px;
@table-condensed-cell-padding: 5px;
@table-cell-padding: 8px;
@table-condensed-cell-padding: 5px;
@table-bg: transparent;
@table-bg-accent: #f9f9f9;
@table-bg-hover: @gray-lighter;
@table-bg-active: @table-bg-hover;
@table-border-color: @gray-lighter;


// Navbar
@navbar-height: 60px;
@navbar-margin-bottom: @line-height-computed;
@navbar-default-color: #ffffff;
@navbar-default-bg: @brand-primary;
@navbar-default-border: darken(@navbar-default-bg, 6.5%);
@navbar-border-radius: @border-radius-base;
@navbar-padding-horizontal: floor(@grid-gutter-width / 2);
@navbar-padding-vertical: ((@navbar-height - @line-height-computed) / 2);
@navbar-default-link-color: #ffffff;
@navbar-default-link-hover-color: @brand-success;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: #ffffff;
@navbar-default-link-active-bg: darken(@navbar-default-bg, 10%);
@navbar-default-link-disabled-color: #ccc;
@navbar-default-link-disabled-bg: transparent;
@navbar-default-brand-color: #ffffff;
@navbar-default-brand-hover-color: darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg: transparent;
@navbar-default-toggle-hover-bg: #ddd;
@navbar-default-toggle-icon-bar-bg: #888;
@navbar-default-toggle-border-color: #ddd;


// Navs Tabs
@nav-link-padding: 10px 15px;
@nav-link-hover-bg: @gray-lighter;
@nav-disabled-link-color: @gray-light;
@nav-disabled-link-hover-color: @gray-light;
@nav-tabs-border-color: @gray-lighter;
@nav-tabs-link-hover-border-color: @gray-lighter;
@nav-tabs-active-link-hover-bg: @body-bg;
@nav-tabs-active-link-hover-color: @gray;
@nav-tabs-active-link-hover-border-color: @gray-lighter;
@nav-tabs-justified-link-border-color: #ddd;
@nav-tabs-justified-active-link-border-color: @body-bg;
@nav-pills-border-radius: @border-radius-base;
@nav-pills-active-link-hover-bg: @gray;
@nav-pills-active-link-hover-color: #fff;


// Jumbotron
@jumbotron-padding: 30px;
@jumbotron-color: inherit;
@jumbotron-bg: @gray-lighter;
@jumbotron-font-size: ceil((@font-size-base * 1.5));


// Pagination
@pagination-bg: #ffffff;
@pagination-border: #dddddd;
@pagination-hover-bg: @gray-lighter;
@pagination-hover-color: @link-hover-color;
@pagination-hover-border: #ddd;
@pagination-active-bg: @brand-success;
@pagination-active-color: #fff;
@pagination-active-border: @brand-success;
@pagination-disabled-color: @gray-light;
@pagination-disabled-bg: #fff;
@pagination-disabled-border: #ddd;
@pager-bg: @pagination-bg;
@pager-border: @pagination-border;
@pager-border-radius: 15px;
@pager-hover-bg: @pagination-hover-bg;
@pager-active-bg: @pagination-active-bg;
@pager-active-color: @pagination-active-color;
@pager-bg: @pagination-bg;
@pager-disabled-color: @gray-light;


// Form States
@state-warning-text: #ffffff;
@state-warning-bg: @brand-warning;
@state-warning-border: @brand-warning;
@state-danger-text: #ffffff;
@state-danger-bg: @brand-danger;
@state-danger-border: @brand-danger;
@state-success-text: #ffffff;
@state-success-bg: @brand-success;
@state-success-border: @brand-success;
@state-info-text: #ffffff;
@state-info-bg: @brand-info;
@state-info-border: @brand-info;


// ToolTip
@tooltip-max-width: 200px;
@tooltip-color: #fff;
@tooltip-bg: #000;
@tooltip-arrow-width: 5px;
@tooltip-arrow-color: @tooltip-bg;
@tooltip-opacity: .9;


// Popover
@popover-bg: #fff;
@popover-max-width: 276px;
@popover-border-color: rgba(0,0,0,.2);
@popover-fallback-border-color: #ccc;
@popover-title-bg: darken(@popover-bg, 3%);
@popover-arrow-width: 10px;
@popover-arrow-color: #fff;
@popover-arrow-outer-width: (@popover-arrow-width + 1);
@popover-arrow-outer-color: rgba(0,0,0,.25);
@popover-arrow-outer-fallback-color: #999;


// List Group
@list-group-bg: #fff;
@list-group-border: @gray-lighter;
@list-group-border-radius: @border-radius-base;
@list-group-hover-bg: @gray-lighter;
@list-group-active-color: #fff;
@list-group-active-bg: @component-active-bg;
@list-group-active-border: @list-group-active-bg;
@list-group-active-text-color: lighten(@list-group-active-bg, 40%);
@list-group-link-color: #555;
@list-group-link-heading-color: #333;


// Sprites
@icon-font-path: '../app/fonts/';
@icon-font-name: glyphicons-halflings-regular;


// My Variables
